/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

body {
    font-family: var(--font-family) !important;
}

.rating-color {
    color: var(--rating-color);
}

.cursor-pointer {

    cursor: pointer;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

/* .product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
} */
.increase-cart {
    border: solid 1px var(--main-color);
}

.product .btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);

}

.font-sm {
    font-size: 14px;
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}

.navbar-nav .nav-link.active {
    /* background-color: var(--main-color) !important;
    border-radius: 10px;
    color:#fff !important;
    width: fit-content; */
    color: var(--main-color) !important;
    font-weight: 700;
}

.whidth-fit {
    width: fit-content !important;
}

a,
a:hover {
    color: blue;
}

.heart-icon-product {
    top: 10px;
    right: 12px;
}

.brand-layer {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.9s;

}

.brand-card:hover .brand-layer {
    opacity: 1;
}



@media screen and (max-width:992px) {
    footer .container {
        width: 100% !important;

    }

    .payment-method {
        text-align: center !important;
    }

    .payment-method .ms-4 {
        margin-left: auto !important;
    }

    .second-side .ms-5 {
        margin-left: 0px !important;
    }

    .app-store,
    .google-play {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width:768px) and (max-width:993px) {
    .col-app-store {
        flex: 0 0 auto !important;
        width: 16.66666667% !important;
    }

    /* @media screen and (max-width:1200px) {
        footer div div div div button {
            font-size: 15px !important;
        }
    } */
   
    .cart-info .row .col-md-1{
        flex: 0 0 auto !important;
        width: 16.66666667% !important;
    }
    .cart-info .row .col-md-11{
        flex: 0 0 auto !important;
        width: 83.33333333% !important;
    }
}
@media screen and (max-width:767px) {
    .profile-inputs form input , .profile-inputs form label{
        margin: auto !important;
    }
    .profile-inputs{
        text-align: center !important;
    }
    
}
